* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* Navigation Bar */
.nav {
    background-color: black;
}

.container-fluid {
    width: 65%;
    font-weight: bolder;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    font-weight: bolder;
    color: grey;
    font-size: 17px;
}

.menu:hover {
    color: white;
}

input[type=text] {
    width: 60%;
    padding: 8px 8px;
}

/* Banner */
.ban {
    width: 100%;
    height: 90vh;
    background-image: url(./farzi.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.banrap {
    width: 100%;
    /* margin: auto; */
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.2);
}

/* .write h1 {
    font-size: 20px;
    margin-left: 50px;
    padding-top: 200px;
    color: white;
} */

.write h2 {
    font-size: 45px;
    margin-left: 50px;
    padding-top: 260px;
    color: white;
}

.write p {
    width: 42%;
    color: white;
    font-weight: bolder;
    margin-left: 50px;
    margin-top: 25px;
    text-align: justify;
}

.write .rating {
    font-size: 20px;
    margin-top: 25px;
}

.write .comedy {
    font-size: 20px;
}

.write button {
    background-color: rgb(0, 191, 255);
    margin-left: 50px;
    margin-top: 25px;
    padding: 10px 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 12%;
    border-radius: 10px;
}

.write b a {
    color: black;
    font-size: 13px;
    text-decoration: none;
}

.write button:hover {
    background-color: #555;
}

.rent button {
    background-color: rgb(0, 191, 255);
    margin-left: 50px;
    margin-top: 30px;
    padding: 18px;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 7%;
    border-radius: 10px;
}

.rent b a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.rent button:hover {
    background-color: #555;
}

/* Payment Popup */
.btn2 {
    background-color: rgb(0, 191, 255);
    margin-left: 50px;
    margin-top: 25px;
    padding: 18px;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 12%;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 10px;
}

.btn2:hover {
    background-color: #555;
}

body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid blue;
    width: 40%;
    text-align: center;
}

.modal-content h2 {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.col-50 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 25px;
}

.button1 {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.button1:hover {
    background-color: #45a049;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}


/* Video Popup */
.btn1 {
    background-color: rgb(0, 191, 255);
    margin-left: 30px;
    margin-top: 25px;
    /* font-size: 15px; */
    padding: 14px;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 3%;
    font-weight: bolder;
    border-radius: 100px;
}

.btn1 i {
    font-size: 25px;
    margin-left: 8px;
    margin-top: 2px;
}

.btn1:hover {
    background-color: #555;
}

/* Style for the video container */
#video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close-btn {
    position: absolute;
    top: -15px;
    right: -40px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    /* font-weight: bolder; */
}

#video-container video {
    width: auto;
    height: auto;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Card Carousel */
.owl {
    width: 100%;
    background-color: rgb(32, 31, 31);
}

.owlrap {
    font-size: 30px;
    color: yellow;
    padding-top: 20px;
    /* padding-right: 1140px; */
}

.row {
    width: 95%;
    padding-left: 120px;
}

.card-title h4 {
    font-size: 19.5px;
    font-family: 'Yantramanav', sans-serif;
}

.shadow img {
    height: 20vh;
}
/* Footer */
.footer {
    width: 100%;
    height: 30vh;
    background-color: rgb(32, 31, 31);
}

.footerrap {
    width: 80%;
    margin: auto;
}

.icon img {
    width: 10%;
    margin-left: 685px;
    margin-top: 200px;
}

.icon h1 {
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    margin-top: 5px;
    font-weight: lighter;
}